<div class="table-container">
    <table mat-table [dataSource]="asteroidList">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let asteroid">{{asteroid.id}}</td>        
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let asteroid">{{asteroid.name}}</td>        
        </ng-container>

        <ng-container matColumnDef="diameter_min">
            <th mat-header-cell *matHeaderCellDef> Diameter Min. </th>
            <td mat-cell *matCellDef="let asteroid">{{asteroid.diameter_min}} m</td>        
        </ng-container>

        <ng-container matColumnDef="diameter_max">
            <th mat-header-cell *matHeaderCellDef> Diameter Max. </th>
            <td mat-cell *matCellDef="let asteroid">{{asteroid.diameter_max}} m</td>        
        </ng-container>

        <ng-container matColumnDef="is_dangerous">
            <th mat-header-cell *matHeaderCellDef> Dangerous ? </th>
            <td mat-cell *matCellDef="let asteroid">{{asteroid.is_dangerous ? "Yes" : "No"}}</td>        
        </ng-container>

        <ng-container matColumnDef="relative_velocity">
            <th mat-header-cell *matHeaderCellDef> Speed </th>
            <td mat-cell *matCellDef="let asteroid">{{asteroid.relative_velocity}} kph</td>        
        </ng-container>

        <ng-container matColumnDef="miss_distance">
            <th mat-header-cell *matHeaderCellDef> Miss Distance </th>
            <td mat-cell *matCellDef="let asteroid">{{asteroid.miss_distance}} km</td>        
        </ng-container>

        <ng-container matColumnDef="link">
            <th mat-header-cell *matHeaderCellDef> Learn more </th>
            <td mat-cell *matCellDef="let asteroid"><a href={{asteroid.link}}>Click me!</a></td>        
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
</div>