<mat-toolbar color="primary" class="header-bar">
    <h1 class="main-title">Zen Cosmos <span class="main-subtitle">- How soon is doom?</span></h1> 
</mat-toolbar>

<div class="date-container">
  <mat-form-field>
    <input matInput [ngModel]="startDate" (ngModelChange)="changeDate($event)" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="month" [startAt]="startDate" ></mat-datepicker>
  </mat-form-field>
</div>

<app-asteroid-container [startDate]="startDate"></app-asteroid-container>

<mat-toolbar color="primary" class="footer-bar">
  <mat-toolbar-row class="footer-row"><p class="footer-text">Built by <a href="https://zentown.dev">ZenTown</a> with the <a href="https://api.nasa.gov/" rel="noopener" target="_blank">NASA APIs</a>.</p></mat-toolbar-row>
</mat-toolbar>