.date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem auto 0 auto;
}

mat-toolbar {
    color: white;
    padding: 1rem;
}

.main-title {
    font-size: x-large;
}

.main-subtitle {
    font-size: medium;
}

.footer-bar {
    position: absolute;
    padding: 0;
    bottom: 0;    
}

.footer-row {
    font-size: small;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-row a {
    color: #DDDDDD;
}

@media screen and (max-width: 800px) {
    .main-subtitle {
        display: none;
    }
}

